body{
    margin:0;
    font-family:"Mrs Saint Delafield" "Italianno" "Parisienne" sans-serif serif;
    text-align: center;
}

h1,p {color:rgb(6, 100, 100);} 




.plane {
    position: absolute;
    top: 28%; 
    
    padding-left: 10%; 
    z-index: 9;    
    }

